
.padding-horiz-0 {
    padding-left: 0;
    padding-right: 0;
}
.padding-horiz-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-horiz-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-horiz-30 {
    padding-left: 30px;
    padding-right: 30px;
}
.padding-horiz-40 {
    padding-left: 40px;
    padding-right: 40px;
}
.padding-horiz-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padding-horiz-60 {
    padding-left: 60px;
    padding-right: 60px;
}
.padding-vert-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.padding-vert-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-vert-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-vert-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.padding-vert-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.padding-vert-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.padding-vert-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.margin-horiz-0 {
    margin-left: 0;
    margin-right: 0;
}
.margin-horiz-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-horiz-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-horiz-30 {
    margin-left: 30px;
    margin-right: 30px;
}
.margin-horiz-40 {
    margin-left: 40px;
    margin-right: 40px;
}
.margin-horiz-50 {
    margin-left: 50px;
    margin-right: 50px;
}
.margin-horiz-60 {
    margin-left: 60px;
    margin-right: 60px;
}
.margin-vert-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.margin-vert-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin-vert-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-vert-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-vert-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.margin-vert-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margin-vert-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.margin-right-10 {
    margin-right: 10px;
}

.margin-top-0 {
    margin-top: 0;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.padding-top-0 {
    padding-top: 0;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-15 {
    padding-top: 15px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-top-30 {
    padding-top: 30px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-top-60 {
    padding-top: 60px;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-bottom-15 {
    padding-bottom: 15px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.padding-bottom-60 {
    padding-bottom: 60px;
}
.border-bottom-0{
    border-bottom-width: 0;
}
.vertalign{
    vertical-align: top;
}
.min-heightforce-300{
    min-height: 300px;
}
.min-heightforce-230{
    min-height: 230px;
}
.min-heightforce-250{
    min-height: 250px;
}
.min-heightforce-270{
    min-height: 270px;
}
.min-heightforce-200{
    min-height: 200px;
}
.min-heightforce-100{
    min-height: 100px;
}
.heightforce-250{
    height: 250px;
}
.heightforce-300{
    height: 300px;
}

.nav-pills-red>li {
    float: none
}
.nav-pills-red>li>a {
    border-radius: 4px
}
.nav-pills-red>li+li {
    margin-left: 2px
}
.nav-pills-red>li.active>a, .nav-pills-red>li.active>a:hover, .nav-pills-red>li.active>a:focus {
    color: #fff;
    background-color: #D64541
}
.nav-pills-red>.active>a>.badge {
    color: #D64541;
    background-color: #D64541
}
.nav-pills-red>li>a>.badge {
    margin-left: 3px
}
.nav-pills-red li.active a {
    background: #D64541;
}
.nav-pills-red li.active a:hover,
.nav-pills-red li.active a:focus {
    background: #D64541;
}
.nav-pills-red li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.nav.nav-pills-red > li > a > .badge {
    margin-top: -2px;
}
.nav-pills-red > .active > a > .badge {
    color: #D64541;
}


.nav-pills-orange>li {
    float: none
}
.nav-pills-orange>li>a {
    border-radius: 4px
}
.nav-pills-orange>li+li {
    margin-left: 2px
}
.nav-pills-orange>li.active>a, .nav-pills-orange>li.active>a:hover, .nav-pills-orange>li.active>a:focus {
    color: #fff;
    background-color: #e9662c
}
.nav-pills-orange>.active>a>.badge {
    color: #e9662c;
    background-color: #fff
}
.nav-pills-orange>li>a>.badge {
    margin-left: 3px
}
.nav-pills-orange li.active a {
    background: #e9662c;
}
.nav-pills-orange li.active a:hover,
.nav-pills-orange li.active a:focus {
    background: #e9662c;
}
.nav-pills-orange li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.nav.nav-pills-orange > li > a > .badge {
    margin-top: -2px;
}
.nav-pills-orange > .active > a > .badge {
    color: #e9662c;
}


.nav-pills-blue>li {
    float: none
}
.nav-pills-blue>li>a {
    border-radius: 4px
}
.nav-pills-blue>li+li {
    margin-left: 2px
}
.nav-pills-blue>li.active>a, .nav-pills-blue>li.active>a:hover, .nav-pills-blue>li.active>a:focus {
    color: #fff;
    background-color: #0a819c
}
.nav-pills-blue>.active>a>.badge {
    color: #0a819c;
    background-color: #fff
}
.nav-pills-blue>li>a>.badge {
    margin-left: 3px
}
.nav-pills-blue li.active a {
    background: #0a819c;
}
.nav-pills-blue li.active a:hover,
.nav-pills-blue li.active a:focus {
    background: #0a819c;
}
.nav-pills-blue li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.nav.nav-pills-blue > li > a > .badge {
    margin-top: -2px;
}
.nav-pills-blue > .active > a > .badge {
    color: #0a819c;
}


.nav-pills-green>li {
    float: none
}
.nav-pills-green>li>a {
    border-radius: 4px
}
.nav-pills-green>li+li {
    margin-left: 2px
}
.nav-pills-green>li.active>a, .nav-pills-green>li.active>a:hover, .nav-pills-green>li.active>a:focus {
    color: #fff;
    background-color: #488c6c
}
.nav-pills-green>.active>a>.badge {
    color: #488c6c;
    background-color: #fff
}
.nav-pills-green>li>a>.badge {
    margin-left: 3px
}
.nav-pills-green li.active a {
    background: #488c6c;
}
.nav-pills-green li.active a:hover,
.nav-pills-green li.active a:focus {
    background: #488c6c;
}
.nav-pills-green li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.nav.nav-pills-green > li > a > .badge {
    margin-top: -2px;
}
.nav-pills-green > .active > a > .badge {
    color: #488c6c;
}





.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255,255,255,0.8);
    border: solid 2px rgba(230,230,230,0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.morris-hover {
    position: absolute;
    z-index: 1000;
}

.ident{
    padding-left: 1em;
}

.inline-block{
    display: inline-block;
}

.block{
    clear: left;

    vertical-align: top;

}

.leftf{
    float: left;
}

.invis{
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: none;
}

.vis{
    visibility: visible;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
}

.currentSensor{
    max-width: 300px;
}

.btn-List{
    margin: 0;
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-ListTop{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.listHeading{
    font-size: 14px;
    font-weight: bold;
}

.bckGrey{
    background-color: #4b5d67;
}

#sensorDataRealtime {
    height:650px;
    width:100%;
    margin: 0 auto
}

#moduleOnlineGraph {
    height: 400px;
    width:100%;
    margin: 0 auto
}

#page-content {
    height: 100%;
}

.leftColumnHeading {
    font-size: 14px;
    font-weight: bold;
}

.notransition {
    -moz-animation-name: none;
    -webkit-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.tableHeadBack-blue th{
    background-color: rgba(64,95,114, 0.7);
    color: #FFF;
}

.tableCellBack-gray{
    background-color: rgba(79, 79, 79, 0.25);
    color: #FFF;
}

.middle{
    text-align:center;
}

.maxwidth{
    width:100%;
}

.barGrey{
    background-color: #EDEEEF;
    display: block;
    width: 100%;
    height: 5px;
}
.linkSource {
    color: #FFF;
    text-align: left;
    background: rgba(64, 95, 114, 0.4);
}
.linkTarget {
    color: #FFF;
    text-align: left;
    background: rgba(64, 95, 114, 0.3);
}